/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /**
   * typography
   */

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
i { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

address { font-style: normal; }


i { pointer-events: none; }

html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: var(--cultured-2);
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border-left: 2px solid var(--white);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px;}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

button, a { transition: var(--transition); }

.h1,
.h2,
.h3 {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-4);
  font-weight: var(--font-weight, 700);
}

.h3 > a { color: inherit; }

.w-100 { width: 100%; }

.section-subtitle {
  color: var(--orange-soda);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  padding: 5px 20px;
  background: hsla(9, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-title {
  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
}


.card-badge {
  background: var(--black);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
  border-radius: 20px;
}

.card-badge.green { background: var(--yellow-green); }

.card-badge.orange { background: var(--orange-soda); }

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border: 1px solid var(--cultured-2);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }

.btn {
  position: relative;
  background: var(--orange-soda);
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  text-transform: var(--text-transform, capitalize);
  border: 1px solid var(--orange-soda);
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: var(--black);
  color: var(--dark-jungle-green);
  border-color: var(--black);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--white);
  transition: var(--transition);
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: relative;
  z-index: 2;
}

.header-top {
  background: var(--prussian-blue);
  padding-block: 15px;
}

.header-top .container,
.header-top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-top .container { gap: 8px 20px; }

.header-top-list { gap: 15px; }

.header-top-link {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-top-link:is(:hover, :focus) { color: var(--orange-soda); }

.header-top-link i{
  color: var(--orange-soda);
  font-size: 17px;
}

.header-top .wrapper,
.header-top-social-list {
  display: flex;
  align-items: center;
}

.header-top .wrapper { gap: 20px; }

.header-top-social-list { gap: 8px; }

.header-top-social-link {
  color: var(--white);
  font-size: 18px;
}

.header-top-social-link:is(:hover, :focus) {
  color: var(--orange-soda);
  transform: scale(1.2);
   transition: all 0.2s;
}

.header-top-btn {
  background: var(--orange-soda);
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 4px 15px;
}

.header-top-btn:is(:hover, :focus) { --orange-soda: hsl(7, 72%, 46%); }


/*HEADER BOTTOM*/
.header-bottom {
  background: #000;
  padding-block: 25px;
}

.header-bottom .logo img { margin-inline: auto; max-width: 80px;}

.header-bottom .logo:hover img { transform: scale(1.1); transition: all 0.2s;}

.navbar {
  background: #000;
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.navbar.active {
  visibility: visible;
  transform: translateX(310px);
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--white);
  margin-bottom: 25px;
}

.navbar-top .logo img { width: 200px; }

.nav-close-btn i {
  font-size: 20px;
  padding: 5px;
  color: #fff;
}

.navbar-link {
  color: #fff;
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  padding-block: 10px;
  position: relative;
  padding-bottom: 0.75rem;
  margin-left: 40px;
}

.navbar-link::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 0;
  left: 0;
  background-color: var(--orange-soda);
  transition: all 0.3s ease;
}

.navbar-link:hover::after{
  width: 70%;
}

.navbar-link:is(:hover) { color: var(--orange-soda); }




.navbar-link i{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  font-size: 15px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 4;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header-bottom-actions {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-block: 15px 10px;
  box-shadow: -2px 0 30px hsla(237, 71%, 52%, 0.2);
  z-index: 3;
}

.header-bottom-actions-btn i {
  color: hsl(0, 0%, 10%);
  font-size: 20px;
  margin-inline: auto;
  margin-bottom: 5px;
  transition: var(--transition);
}

.header-bottom-actions-btn:is(:hover, :focus) i { color: var(--orange-soda); }

.header-bottom-actions-btn span {
  color: var(--cadet);
  font-family: var(--ff-poppins);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}
/**********/
/* HERO */
/*********/

.hero{
  background: var(--cultured-2);
  padding-block: var(--section-padding);
  
}

.hero-content{ margin-bottom: 60px; margin-left: 7px;}

.hero-subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
} 

.hero-subtitle i { color: var(--orange-soda); }

.hero-subtitle span {
  color: #000;
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.hero-title { margin-bottom: 20px; color: #000;}

.hero-text{
  color: #000;
  font-size: var(--fs-5);
  font-weight: 500;
  line-height: 1.8;
  padding-left: 15px;
  border-left: 1px solid;
  margin-bottom: 30px;
}

.btn {
  position: relative;
  background: var(--orange-soda);
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  text-transform: var(--text-transform, capitalize);
  border: 1px solid var(--orange-soda);
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: var(--black);
  color: var(--dark-jungle-green);
  border-color: var(--black);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--white);
  transition: var(--transition);
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

.w-100 { width: 100%; }

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { padding-block: var(--section-padding); background-color: var(--cultured-2);}

.about-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-banner > img {
  max-width: max-content;
  width: 100%;
}

.about-banner .abs-img {
  bottom: 100px;
  left: 15px;
  width: 100%;
  border-radius: 4px;
}

.about .section-subtitle { margin-inline: 0; }

.about .section-title {
  --text-align: left;
  --margin-bottom: 15px;
}

.about-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-list { margin-bottom: 30px; }

.about-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.about-item-icon {
  background: var(--misty-rose);
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about-item-icon i {
  color: var(--orange-soda);
  font-size: 20px;
}

.about-item-text {
  color: var(--cadet);
  font-size: 15px;
}

.about .callout {
  background: hsla(7, 78%, 53%, 0.05);
  color: var(--cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.8;
  padding: 20px 25px;
  border-left: 4px solid var(--orange-soda);
  margin-bottom: 40px;
}

.about .btn {
  max-width: max-content;
  --text-transform: uppercase;
}

.section-subtitle{
  color: var(--orange-soda);
  font-size: var(--fs-5);
  font-weight: var(--fs-6);
  padding: 5px 20px;
  background: hsla(9, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
} 

.section-title{
  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.container1{
  max-width: 1600px;
  display: flex;
  margin: auto;
  padding: 5rem 2rem;
  background-color: #000;
  height: 400px;
  border-bottom: 1px solid #fff;
  width: 1600px;
  height: 400px;
  border-radius: 15px;
  
}

.partners-title .partners-subtitle{
  color: var(--white);
  text-align: center;
  margin-left: 400px;
  display: inline;
  position: relative;
  left: 150px;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-2);
}

.partners-title .partners-subtitle span{
  color: var(--orange-soda);
  display: inline;
  margin-left: 15px;
}



.partners{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-right: 25px;
  margin-top: 30px;
  filter: opacity(1.5);
}

.partners img{
  background-color: #000;
  max-width: 300px;
  margin-right: 25px;
}




.center-ball::before{
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 30px auto;
  background: #39D1B4;
  content: "";
  width: 6px;
  height: 6px;
  
}




.service {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  background: var(--white);
  text-align: center;
  padding: 40px 30px;
  box-shadow: var(--shadow-2);
}

.service-card .card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.service-card .card-title { margin-bottom: 15px; }

.service-card .card-title > a:is(:hover, :focus) { color: var(--orange-soda); }

.service-card .card-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.service-card .card-link {
  color: var(--opal);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.service-card:is(:hover, :focus) .card-link { color: var(--orange-soda); }

.service-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--orange-soda);
  transition: var(--transition);
}

.service-card:is(:hover, :focus)::after { width: 100%; }


/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property { padding-block: var(--section-padding); }

.property-card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
}

.property-card .card-banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.property-card .card-banner a { height: 100%; }

.property-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property-card:hover .card-banner img { transform: scale(1.1); }

.property-card .card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
  pointer-events: none;
  z-index: 1;
}

.property-card .banner-actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 15px 10px;
  z-index: 1;
}

.banner-actions-btn {
  color: var(--white);
  font-size: var(--fs-6);
  line-height: 1;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.banner-actions-btn i { font-size: 16px; }

.banner-actions-btn:first-child { margin-right: auto; }

.banner-actions-btn:is(:hover, :focus) { color: var(--orange-soda); }

.property-card .card-content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.card-price {
  color: var(--orange-soda);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  margin-bottom: 5px;
}

.card-price strong {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.property-card .card-title {
  --font-weight: var(--fw-600);
  margin-bottom: 15px;
}

.property-card .card-title > a:is(:hover, :focus) { color: var(--orange-soda); }

.property-card .card-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.property-card .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 15px;
}

.property-card .card-item {
  padding-block: 5px;
  color: var(--cadet);
  font-size: var(--fs-5);
}

.property-card .card-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
}

.property-card .card-item :is(strong, i) { display: inline-block; }

.property-card .card-item i {
  margin-left: 2px;
  margin-bottom: -2px;
}

.property-card .card-item span { margin-top: 5px; }

/*-----------------------------------*\
  #CONTACTE
\*-----------------------------------*/

.contacts{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--raisin-black-1);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 2rem;
}


.contact-container{

  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form-container{
  padding: 20px;
}

.form-container h3{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-form{
  display: grid;
  row-gap: 1rem;
}

.contact-form input{
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.4rem;
}

.contact-form .send-btn{
  border: none;
  outline: none;
  background: var(--orange-soda);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.contact-form .send-btn:hover{
  --orange-soda: hsl(7, 72%, 46%);
  transition: 0.3s all linear;
}

.map iframe{
  width: 103%;
  height: 100%;
  border-top-right-radius: 20px;
}
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background: #000;
  color: var(--white);
  margin-bottom: 68px;
}

.footer .container { padding-inline: 30px; }

.footer a { color: inherit; }

.footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-brand { margin-bottom: 70px; }

.footer-brand .logo { margin-bottom: 15px; }

.section-text {
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 45ch;
}

.contact-list {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.contact-link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-link i { font-size: 18px; }

.contact-link :is(address, span) {
  font-size: var(--fs-5);
  transition: var(--transition);
}

.contact-link:is(:hover, :focus) span { color: var(--orange-soda); }

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-link:is(:hover, :focus){
  color: var(--orange-soda);
  transform: scale(1.1); 
  transition: all 0.2s;
}

.footer-list:not(:last-child) { margin-bottom: 50px; }

.footer-list-title {
  font-family: var(--ff-poppins);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.footer-link {
  font-size: var(--fs-5);
  padding-block: 10px;
}

.footer-link:is(:hover, :focus) { color: var(--orange-soda); }

.footer-bottom {
  background: var(--raisin-black-1);
  padding-block: 25px;
}

.copyright {
  font-size: var(--fs-5);
  text-align: center;
}

.copyright a { display: inline-block; }

.copyright a:is(:hover, :focus) { color: var(--orange-soda); }

/*TRIVIA*/

.about_trivia{
  background-color: var(--cultured-2);
  margin: clamp(8em, 2.5vh, 1.5em);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about_trivia h1{
  color: #000;
  font-size: 40px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 15px;
}

summary{
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #1d1d1f;
  background: none;
  border: none;
  border-radius: 0;
  font-family: 'Nunito',sans-serif;
  padding: 25px 40px 16px 0;
}

.about_trivia-answer{
  margin-top: 0.5em;
  font-family: 'Nunito',sans-serif;
  font-size: 15px;
  line-height: 27px;
  color: var(--orange-soda);
  font-weight: 600;
  padding: 11px 16px 5px 0;
}

/*-----------------------------------*\
  #POLITICA DE CONFIDENTIALITATE
\*-----------------------------------*/

.politic-content{
  padding: 70px;
  margin: 30px;
}

.politic-text{
  font-size: 19px;
  font-weight: 500;
}


@media (min-width: 600px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.875rem;

  }

  .politic-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }


  .about_trivia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about_trivia h1{
    font-size: 40px;
    line-height: 50px;
  }

  summary{
    font-size: 28px;
    line-height: 35px;
  }

  .about_trivia-answer{
    font-size: 25px;
    line-height: 30px;
  }


  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }

  .footer-link-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  /* .partners img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partners-title .partners-subtitle{
    position: relative;
    text-align: center;
  } */


  /**
   * SERVICE
   */

  .service-list > li { width: calc(50% - 15px); }

  .footer-brand .logo img{
    max-width: 20px;
  }

  

}

@media (max-width: 700px) {
  .contact-container{
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem !important;
    height: 500px;
  }

  .map .iframe{
    height: 500px;
  }

  .footer-brand .logo img{
    max-width: 100px;
  }

  
  .container1{
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .partners-title{
    text-align: center;
    position: relative;
    right: 140px;
  }

  .partners-title .partners-subtitle{
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 0;
    font-size: 35px;
  }

  .partners-title .partners-subtitle span{
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: 35px;
  }


  .partners .image1{
    max-width: 100%;
  }


  .header-bottom-actions{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;

  }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }

  .about_trivia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .about_trivia h1{
    font-size: 40px;
    line-height: 50px;
  }

  summary{
    font-size: 30px;
    line-height: 40px;
  }

  .about_trivia-answer{
    font-size: 30px;
    line-height: 35px;
  }


  .container { max-width: 720px; }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }


  .header-top { padding-block: 5px; }

  .header-top .wrapper { margin-left: auto; }

  .header-top-social-list { gap: 12px; }

  .header-top-social-link { font-size: 1.1rem; }

  .header-top-btn { padding: 10px 20px; }

  .header-bottom-actions {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom-actions-btn i { margin-bottom: 0; color: #fff; font-size: 30px;}

  .header-bottom-actions-btn span { display: none; }

  .header-bottom-actions-btn {
    background: #000;
    
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
  }


  .hero-content { max-width: 400px; }


  .about .section-title { max-width: 30ch; }

  .about-text { max-width: 55ch }

  .about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container1{
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .partners-title{
    text-align: center;
    position: relative;
    right: 140px;
    
  }

  .partners-title .partners-subtitle{
    position: relative;
    margin: 0 40px;
    display: inline;
    padding: 0;
    font-size: 40px;
  }

  .partners-title .partners-subtitle span{
    position: relative;
    display: inline;
    right: 20px;
    margin: 0 40px;
    padding: 0;
    font-size: 40px;
  }

  .partners .image1{
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  

  .footer { margin-bottom: 0; }

  .footer-brand .logo img{
    max-width: 100px;
  }
}



@media (max-width: 964px){
  .contact-container{
    margin: 0 auto;
    width: 90%;
  }

  .container1{
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .partners-title{
    text-align: center;
    position: relative;
    right: 140px;
    
  }

  .partners-title .partners-subtitle{
    position: relative;
    margin: 0 40px;
    display: inline;
    padding: 0;
    font-size: 40px;
  }

  .partners-title .partners-subtitle span{
    position: relative;
    display: inline;
    right: 20px;
    margin: 0 40px;
    padding: 0;
    font-size: 40px;
  }


  .partners .image1{
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
}

@media (min-width: 992px) {

  :root {
    --fs-1: 3.125rem;
    --fs-4: 1.375rem;

  }

  .partners-title .partners-subtitle{
    position: relative;
    text-align: center;
  }

  .about_trivia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about_trivia h1{
    font-size: 45px;
    line-height: 55px;
    padding-bottom: 15px;
  }

  summary{
    font-size: 35px;
    line-height: 45px;
  }

  .about_trivia-answer{
    font-size: 35px;
    line-height: 40px;
  }

  .property-card .card-content { padding-inline: 30px; }

  .card-footer { padding: 20px 30px 30px; }

  .container { max-width: 970px; }

  .btn { padding: 15px 40px; }


  .header-top-list,
  .header-top .wrapper { gap: 30px; }


  .hero-content {
    max-width: unset;
    margin-bottom: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }


  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about-banner { margin-bottom: 0; }

  .about-banner > img { width: 100%; }


  .service-list > li { width: calc(33.33% - 20px); }

 

  .footer-top .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-brand {
    max-width: 300px;
    margin-bottom: 0;
  }

  .footer-brand .logo img{
    max-width: 100px;
  }

  .container1{
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0rem;
  }

  .partners-title{
    text-align: center;
    position: relative;
    right: 140px;
    
  }

  .partners-title .partners-subtitle{
    position: relative;
    margin: 0 40px;
    display: inline;
    padding: 0;
    font-size: 40px;
  }

  .partners-title .partners-subtitle span{
    position: relative;
    display: inline;
    right: 20px;
    margin: 0 40px;
    padding: 0;
    font-size: 40px;
  }


  .partners .image1{
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .footer-link-box { flex-basis: 550px; }
}

@media (min-width: 1200px) {

  :root {
    --fs-2: 2.75rem;
    --fs-4: 1.5rem;
  }


  .container { max-width: 1200px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }


  .header-bottom { padding-block: 30px; }

  .header-bottom-actions-btn:last-child,
  .navbar-top,
  .overlay { display: none; }

  .navbar,
  .navbar.active { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    color: var(--white);
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header { padding-bottom: 175px; }

  .header-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header-bottom {
    position: fixed;
    bottom: auto;
    top: -160px;
    padding-block: 20px;
    box-shadow: 0 10px 50px hsla(237, 71%, 52%, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  /* @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  } */


  .hero-text {
    padding-left: 10px;
    max-width: 450px;
    margin-bottom: 40px;
  }


  .w-100{
    width: 120%;
  }

  .about_trivia{
    margin: clamp(8em, 2.5vh, 1.5em);
  }

  .about_trivia h1{
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 15px;
  }

  summary{
    font-size: 25px;
    line-height: 30px;
  }

  .about_trivia-answer{
    font-size: 20px;
    line-height: 25px;
  }

  .footer { --fs-5: 1rem; }

  .footer-link-box { flex-basis: 700px; }

  .footer-brand .logo img{
    max-width: 100px;
  }

  .container1{
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
  }

  .partners-title{
    text-align: center;
    position: relative;
    right: 140px;
  }

  .partners-title .partners-subtitle{
    position: relative;
    margin: 0 auto;
    display: inline;
    padding: 0;
    font-size: 40px;
  }

  .partners-title .partners-subtitle span{
    position: relative;
    display: inline;
    right: 20px;
    margin: 0 40px;
    padding: 0;
    font-size: 40px;
  }


  .partners .image1 {
    max-width: 100%;
  }
  
}